
////////////////////
// Colors
////////////////////
$color: (
	base: #4a4a4a,
	accent:#ed4f39,
	highlight: #50e3c2
);


////////////////////
// Breakpoints
////////////////////
$screen: (
    small: '32.250em',    // min-width 481px,  small screens
    medium: '53.813em',   // min-width 861px,  medium screens
    large: '75.938em',    // min-width 1215px, large screens
    xlarge: '90.063em',   // min-width 1441px, xlarge screens
    xxlarge: '120.063em' // min-width 1921px, xxlarge screens
);
